<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <script src="signupScript.js" defer></script>
    <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
<h1>Sign up Form</h1>
<div>
    <form id="signupForm">
        <div>
            <input type="hidden" name="id" id="id" value="">
        </div>
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" id="password"/>
        </div>
        <button type="submit" id="submitBtn">Save</button>
    </form>
    <table id="signupTable">
        <thead>
        <tr>
            <td>Username</td>
            <td>Password</td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>